<div class="title">
  <div class="titlehead">
    <h2>We’re more than just a workplace.. We’re a family.</h2>
    <p>
      We know that finding a meaningful and rewarding career can be a long
      journey. Our goal is to make that process easy for you and to create a
      work environment that's enriching—one that you'll look forward to every
      day.
    </p>
  </div>
  <!-- <div>
        <button>Explore Open Roles</button>
    </div> -->
</div>
<section id="alljobs">
  <div class="title1">
    <h3>Opportunities for you to explore</h3>
  </div>
  <div class="careercard">
    <div
      class="job-card"
      *ngFor="let job of paginatedJobs"
      (click)="openJobDetails(job)"
    >
      <div class="job-content">
        <div class="titledate">
          <h3 class="job-title">{{ job.role }}</h3>
          <p>{{ job.postedOn }}</p>
        </div>
        <p class="job-description" [innerHTML]="job.description"></p>
        <div class="job-footer">
          <span class="job-type">{{ job.type }}</span>
          <span class="job-post"></span>
          <span class="job-icon"
            ><i class="fa-solid fa-circle-chevron-right"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">◀</button>

    <button
      *ngFor="let page of getPageNumbers()"
      (click)="goToPage(page)"
      [class.active]="page === currentPage"
    >
      {{ page }}
    </button>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      ▶
    </button>
  </div>
</section>
