<!-- <iframe
  [src]=""
  height="699"
  width="504"
  frameborder="0"
  allowfullscreen=""
  title="Embedded post"
></iframe> -->
<!--  -->
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0099999f 0%, #d8daf5 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    font-size: 3rem;
    letter-spacing: 2px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  "
>
  <h2>Under development</h2>
  <p style="font-size: 1.2rem; margin-top: 10px; opacity: 0.8;">
    We’re working hard to bring you something awesome. Stay tuned!
  </p>
</div>

