<div class="title">
  <h3 data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    Entrepreneurship Development
  </h3>
</div>

<div class="entrepreneurship-wrapper">
  <div class="entrepreneurship-content">
    <section class="highlight-section" data-aos="zoom-in">
      <h4 class="section-heading">Our Vision</h4>
      <p>
       At <strong>TANSAM</strong>, we believe that innovation thrives where
       bold ideas meet the right support. Our Entrepreneurship Development
        vertical empowers aspiring innovators, startups, and MSMEs by offering
        access to cutting-edge facilities, expert mentorship, and tailored
       incubation programs.
      </p>
   </section>

   <section class="highlight-section" data-aos="zoom-in">
     <h4 class="section-heading">Support for Startups & Innovators</h4>
      <p>
        Whether you're shaping the next breakthrough in manufacturing or scaling
        a transformative solution, our centre provides the launchpad to turn
        your vision into a thriving, future-ready business — right from the
        heart of Tamil Nadu’s smart manufacturing ecosystem.
      </p>
    </section>


   <section class="highlight-section" data-aos="zoom-in">
     <h4 class="section-heading">
       Ready to Begin Your Entrepreneurial Journey?
      </h4>
      <p>
        Explore our curated programs and events designed to equip you with the
        skills, networks, and inspiration to succeed.
      </p>
      <div class="more-info-wrapper" data-aos="fade-up">
        <button class="cta" (click)="showMoreNews()">
          <span>More Info</span>
         <svg width="10px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
        </button>
      </div>
   </section>
